@model SearchOutcome

@{
    ViewData["Title"] = "Results";
}
<div class="row" style="padding-top: 10px"> 
    <div class="col-sm-8 main-header">
        @await Html.PartialAsync("_SearchBox")
    </div>
    <div class="col-sm-3 col-sm-offset-1 controller">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Analyse</button>
            <button type="button" class="btn btn-default">Download</button>
            <button type="button" class="btn btn-default">GetLucky</button>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col-sm-8 main-results">
        <div class="page-header">
            <h1>Search Results: <small class="label label-success">@(Model.SearchTerm)</small></h1>
            <h3>Found <span class="label label-info">@(Model.TotalResultsCount)</span>
        </h3>
        </div>
        
        @foreach (var result in Model.GetNaturalSearchResults())
        {
            <div class="media"> 
                <div class="media-left"> 
                    <a href="//giphy.com/gifs/aS3wPSXARSX0Q"> 
                        <img alt="64x64" class="media-object" src="http://megaicons.net/static/img/icons_sizes/17/70/256/3d-tree-icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </a> 
                </div>
                <div class="media-body"> 
                    <h4 class="media-heading">@result.Header</h4>
                    <p>@result.Summary</p>
                    <p>@result.Link</p>
                </div> 
            </div>

        }
    </div>
    <div class="col-sm-3 col-sm-offset-1 complamentory">
        <div class="page-header">
            <h1><small>Complimentary Info</small></h1>
        </div>
        @foreach (var result in Model.GetAdSearchResults())
        {   
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="@result.Link" class="thumbnail">
                        <img src="http://megaicons.net/static/img/icons_sizes/17/70/512/3d-creeper-icon.png" alt="@(result.Summary)">
                    </a>
                </div>
                @result.Summary
            </div>
        }
    </div>
</div>
